---
import { siteConfig } from "@/site.config";
import ThemeToggle from "./ThemeToggle.astro";

const navLinks = [
  { href: "/", text: "Home" },
  { href: "/rankings", text: "Rankings" },
  { href: "/competitions", text: "Competitions" },
  { href: "/live", text: "Live Matches" },
];
---

<header class="group relative mb-28 flex items-center justify-between sm:ps-[4.5rem]">
  <div class="flex sm:flex-col">
    <a
      href="/"
      class="inline-flex items-center hover:filter-none sm:relative sm:inline-block text-gray-900 dark:text-gray-100"
      aria-current={Astro.url.pathname === "/" ? "page" : false}
    >
      <span class="me-3 text-2xl sm:absolute sm:start-[-4.5rem] sm:me-0" aria-hidden="true" role="img" aria-label="Tennis Ball">
        🎾
      </span>
      <span class="text-xl font-bold sm:text-2xl">{siteConfig.title}</span>
    </a>
    <nav
      class="hidden sm:mt-2 sm:flex sm:flex-row sm:gap-x-4 sm:ps-0"
      aria-label="Main menu"
    >
      {
        navLinks.map((link) => (
          <a
            href={link.href}
            class="underline decoration-dashed underline-offset-4 hover:text-yellow-700 dark:hover:text-yellow-400 hover:decoration-yellow-600 dark:hover:decoration-yellow-500 text-gray-700 dark:text-gray-300 transition-colors"
            aria-current={Astro.url.pathname === link.href ? "page" : false}
          >
            {link.text}
          </a>
        ))
      }
    </nav>
  </div>

  <!-- Theme Toggle Button -->
  <div class="flex items-center">
    <ThemeToggle />
  </div>
</header>